/* Reset Rules  */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* END Reset Rules  */

/* NAV Style */

nav {

    display: flex;
    justify-content: center;
}

nav .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    width: 60%;

    padding: 5px;
    margin: 15px;
}

nav .container .logo   {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 250px;
    padding-left: 2px;
}

nav .container .menu   {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5px;

    flex-grow: 1;

}

nav .container .menu li {

    list-style: none;
}

nav .container .login   {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 250px;

    /* BORDER TEST */
    border-left: black 2px dashed;
}

/* END NAV Style */

/* Main Style - Same Flex sections rules*/

header, main .first, main .second, main .third, main .forth, main .sixth {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: nowrap;

width: 100%;

}

/* END Main Style - Same Flex sections rules*/

/* HEADER */

header .container {
    width: 50%;

    margin-top: 55px;
    margin-bottom: 55px;

    /* TEST HEIGHT */
    height: 415px;
}

/* END HEADER */

/* N. 1th and 3th SECTION */

main .first .container, main .third .container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60%;

    margin-top: 55px;
    margin-bottom: 55px;
}

main .first .container .content, main .third .container .content {

    /* TEST HEIGHT */
    height: 500px;
}


main .first .container div:first-child, main .third .container div:first-child {

    width: 500px;
}

main .first .container div:last-child, main .third .container div:last-child {
    flex-grow: 1;
}

/* END N. 1th and 3th SECTION */

/* N. 2th SECTION */

main .second .container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60%;

    margin-top: 55px;
    margin-bottom: 55px;
}

main .second .container .content {

    /* TEST HEIGHT */
    height: 500px;
}


main .second .container div:first-child {
    flex-grow: 1;

}

main .second .container div:last-child {
    width: 500px;

}

/* END N. 2th SECTION */

/* 4th SECTION */

main .forth .container {
    width: 60%;

    margin-top: 55px;
    margin-bottom: 55px;

    /* TEST HEIGHT */
    height: 930px;
}

/* END 4th SECTION */

/* 6th SECTION */

main .sixth {

    border-bottom: #A2A3A3 2px solid;
}

main .sixth .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;

    width: 60%;

    margin-top: 10px;
    margin-bottom: 55px;

    /* TEST HEIGHT */
    height: 600px;

}

main .sixth .container div:first-child {
    width: 370px;
}

main .sixth .container .watergreen {
    flex-grow: 1;
}

/* END 6th SECTION */

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-content: flex-end;

    width: 100%;

    padding-top: 24px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 60%;

    /* TEST HEIGHT */
     height: 80px;
}

.logofooter {
    width: 70px;
    text-align: center;

}

.buttonfooter {
    width: 90px;
    text-align: center;

}


/* END Footer */

/* TEST PART */

/*  Background Color and dashed style */

/* Dashed */

.dashed {

    border: black 1px dashed;
}

nav .container .logo   {

    border-right: black 2px dashed;
}

nav .container .login   {

    border-left: black 2px dashed;
}

main .second .container div:first-child, main .forth .container div:first-child {

        border-right: black 2px dashed;
}

main .sixth .container, main .sixth .container div:first-child {
    border-right: black 2px dashed;
}

main .sixth .container .watergreen {
    border-right: white 1px dashed;
}

/* END Dashed */

/* Background colors */
.sky-blue {
    background-color: #ADD8E6;
}
.yellow {

    background-color: #DAA53B;
}

.blue {
    background-color: #0A238B;
}

.dark-pink {
    background-color: #EE82EE;
}

.white {
    background-color: white;
}
.grey {
    background-color: #D3D3D3;
}

.green {
    background-color: #3F8B24;
}

.lightpink {
    background-color: #F6BFCA;
}
.lightblue {
    background-color: #2A8FF7;
}

.darkgrey {
    background-color: #23272A;
}

.salmon {
    background-color: #F08080;
}

.watergreen {
    background-color: #4CB2AA;
}
/* END Background colors */

/* END TEST PART */